streamlit
streamlit_option_menu
tensorflow
tensorflow 
absl-py
altair
mediapipe
astunparse
attrs
audioread
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
decorator
dm-tree
Flask
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
mdurl
msgpack
namex
numba
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pillow
platformdirs
pooch
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
python-dateutil
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
sounddevice
soundfile
soxr
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wrapt
zipp
